.git
.github
.venv
.venv312
__pycache__
*.pyc

frontend/node_modules
frontend/dist
frontend/.vercel

backend/app/storage/audio/*.mp3
backend/app/storage/audio/*.wav
backend/app/storage/audio/*.webm
backend/app/storage/*.txt
backend/app/storage/*.json
